body {
    background-color: #d3eddc; /* Verde claro */
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.modcontainer {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #008080; 
    color: white;
}

h2 {
    font-size: 35px;
    text-align: center;
}

.navmod {
    background-color: #008080; 
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease-in-out;
}

.nav-item {
    margin: 0 10px;
}

.navmod:hover {
    color: #EECEB9; /* Color dorado para el hover */
}